@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Bold.woff2') format('woff2'),
        url('Yantramanav-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Black.woff2') format('woff2'),
        url('Yantramanav-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Regular.woff2') format('woff2'),
        url('Yantramanav-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Thin.woff2') format('woff2'),
        url('Yantramanav-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Medium.woff2') format('woff2'),
        url('Yantramanav-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav-Light.woff2') format('woff2'),
        url('Yantramanav-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

